<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/metadata", {
        title: `${error}`
    }); %>
</head>
<body class="center-content">
    <div class="modal-window" style="text-align: center; max-width: 60rem;">
        <h1>Error <%= status %></h1>
        <h2><%= error %></h2>

        <% if(stack) { %>
            <pre class="mt-5" style="text-align: left;"><%= stack %></pre>
        <% }; %>
    </div>
</body>
</html>